<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BANGUMI_APP_ID</key>
	<string>$(BANGUMI_APP_ID)</string>
	<key>BANGUMI_APP_SECRET</key>
	<string>$(BANGUMI_APP_SECRET)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.everpcpc.chobits</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chii</string>
			</array>
		</dict>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.everpcpc.chobits</string>
		<string>com.everpcpc.chobits.viewPage</string>
	</array>
</dict>
</plist>
